@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}

#container
{
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}

body{
	font-family: "Playfair Display", Source Sans Pro, sans-serif;
	font-size: 16px;
	color: #333;
}

.header1{
	font-family: "Playfair Display", sans-serif;
	font-size: 48px;
	margin-bottom: 20px;
	letter-spacing: -1px;
	margin-right: 20px;
	line-height: 50px;
	color: #8caff5;
	font-weight: bold;
}

#content1 img
{
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 40px;
	width: 960px;
	height: 400px;
}


#text1{
	line-height: 24px;
	margin-bottom: 20px;
}



#content2 img
{
	display: flex;
	flex-direction: row;
	/*margin-top: 40px;*/
	margin-bottom: 20px;
	width: 300px;
	height: 250px;
}


#text2{
	line-height: 24px;
	margin-bottom: 20px;
}


#content3 img
{
	display: inline-flex;
	flex-direction: row;
	margin-top: 10px;
	width: 300px;
	height: 250px;
	margin-right: 10px;
	margin-bottom: 40px;
}



#text3{
	line-height: 24px;
	margin-bottom: 10px;
	margin-top: 40px;
}


.different{
	font-weight: bold;
}

#content4 img{
	display: inline-flex;
	flex-direction: row;
	width: 300px;
	height: 250px;
	margin-bottom: 20px;
	margin-right: 170px;
}


.header4{
	font-family: "Playfair Display", sans-serif;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-right: 20px;
	color: #8caff5;
	margin-bottom: 20px;
	margin-top: 20px;
}

#text4{
	line-height: 24px;
}

